<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/seasons.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
    <title>TRAVEL | Seasons</title>
</head>
<body>
    <section class="showcase">
        <header>
            <h2 class="logo">travel</h2>
            <div class="toggle"></div>
        </header>

        <div class="overlay"></div>

        
        
        <main>

          <!-- Marketing messaging and featurettes 
          ================================================== -->
          <!-- Wrap the rest of the page in another container to center all the content. -->
        
          <div class="container marketing">
        
            <!-- Three columns of text below the carousel -->
            <div class="row">
              <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" id="stateparks" src="{{ url_for('static', filename='img/StateParksForest.jpg') }}"></img>
        
                <h2>STATE PARKS</h2>
                <p>If you are looking to check off a state park from your list of parks visited, then look no further. We are home to some of the most breath taking parks. Filled with family fun activites, stunning sights, and close up peaks into the animal habitation here. Overall the State Parks provide an experience that can't be matched </p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" id="foodTrucks"  src="{{ url_for('static', filename='img/foodTruck.jpg') }}" ></img>
        
                <h2>FOOD TRUCKS</h2>
                <p>Every season food trucks are serving up something fresh, local, authentic, hip, convenient and hot—all in one quick and tasty dining experience. And it’s not just a fad. The food truck industry has been growing for years into the viable market segment that it is today. Try some out when you visit!</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" id="winter"  src="{{ url_for('static', filename='img/skiing.jpg') }}"></img>
        
                <h2>WINTER ACTIVITES</h2>
                <p> A chill in the air, yet ironically your spirit has never felt warmer. Disconnect from worry and reconnect with what matters most. Discover the multitude of ways that winter is magic in this mountain getaway. From snowing bording to skiing. We have the winter activites for you and your family. The cold never felt so fun.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        
        
            <!-- START THE FEATURETTES -->
        
            <hr class="featurette-divider">
        
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">FALL <span class="text-muted"></span></h2>
                <p class="lead">Nature works her astounding magic every autumn in As the third most forested state, our hallowed country roads are a sight to behold in the fall. Peace and quiet, panoramic views and pumpkin spice await, all in the mountains of Almost Heaven</p>
              </div>
              <div class="col-md-5" >
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" id="fallSeason" src="{{ url_for('static', filename='img/fall2.jpg') }}" >  </img>
                
                
              </div>
            </div>
        
            <hr class="featurette-divider">
        
            <div class="row featurette">
              <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">SPRING <span class="text-muted"></span></h2>
                <p class="lead">Bright rhododendron paint a picturesque landscape in the forest and vibrant cardinals are seen flitting about, shaking off winter blues. Forests bursts into life during the springtime</p>
              </div>
              <div class="col-md-5" >
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" id="springSeason"  src="{{ url_for('static', filename='img/spring.jpg') }}"/></img>
        
              </div>
            </div>
        
            <hr class="featurette-divider">
        
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">WINTER <span class="text-muted"></span></h2>
                <p class="lead">It might be cold and snowy but wont stop the breath taking views and the winter wonderland activties. Enjoy the an array of entertainment to keep you warm in the winter.</p>
              </div>
              <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" id="winterSeason"  src="{{ url_for('static', filename='img/winter.jpg') }}" /></img>
        
              </div>
            </div>
        
            <hr class="featurette-divider">
        
            <!-- /END THE FEATURETTES -->
        
          </div><!-- /.container -->
    
        </main>
        
  

        


        <!-- Begining of Social -->

        <ul class="social">
            <li><a href="#"><img src="{{ url_for('static', filename='img/facebook.png') }}"></a></li>
            <li><a href="#"><img src="{{ url_for('static', filename='img/twitter.png') }}"></a></li>
            <li><a href="#"><img src="{{ url_for('static', filename='img/instagram.png') }}"></a></li>
        </ul>
    </section>

   
        <!-- Begining of Menu -->
    <div class="menu">
        <ul>
            <li><a href="http://127.0.0.1:5000/">Home</a></li>
            <li><a href="http://127.0.0.1:5000/thingsToDo">Things to Do</a></li>
            <li><a href="http://127.0.0.1:5000/placesToStay">Places to Stay</a></li>
            <li><a href="http://127.0.0.1:5000/seasons">Seasons</a></li>
            <li><a href="http://127.0.0.1:5000/contact">Contact</a></li>
            <li><a href="http://127.0.0.1:5000/registration">Registration</a></li>
            <li><a href="http://127.0.0.1:5000/login">Login</a></li>
        </ul>
    </div>

    

    
    <script type="text/javascript" src="{{ url_for('static', filename='js/Hike.js') }}"></script>
</body>
</html>